################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Megalo/v17/Browse.VC.opendb
/.vs/Megalo/v17/Browse.VC.db
/.vs/Megalo/v17/Browse.VC.db-shm
/.vs/Megalo/v17/Browse.VC.db-wal
